/* Anchor with hyperlink */
a[href] {
    color: inherit;
    text-decoration: none;
}

/* Visited */
a[href]:visited {
    font-style: italic;
}

/* Hover */
a[href]:hover {
    text-decoration: underline;
}

/* Active */
a[href]:active {
    background-color: var(--color-light-grey);
}
